USE [user9]
GO
/****** Object:  Table [dbo].[Agents]    Script Date: 14.12.2021 11:05:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agents](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ТипАгента] [nvarchar](255) NULL,
	[IdType] [int] NULL,
	[НаименованиеАгента] [nvarchar](255) NULL,
	[ЭлектроннаяПочтаАгента] [nvarchar](255) NULL,
	[ТелефонАгента] [nvarchar](255) NULL,
	[ЛоготипАгента] [nvarchar](255) NULL,
	[ЮридическийАдрес] [nvarchar](255) NULL,
	[Приоритет] [float] NULL,
	[Директор] [nvarchar](255) NULL,
	[ИНН] [float] NULL,
	[КПП] [float] NULL,
 CONSTRAINT [PK_Agents] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductSale]    Script Date: 14.12.2021 11:05:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSale](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Продукция] [nvarchar](255) NULL,
	[idПродукции] [int] NULL,
	[НаименованиеАгента] [nvarchar](255) NULL,
	[IDAgent] [int] NULL,
	[Датареализации] [datetime] NULL,
	[Количествопродукции] [float] NULL,
 CONSTRAINT [PK_ProductSale] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VW_AgentDetails]    Script Date: 14.12.2021 11:05:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_AgentDetails]
AS
SELECT        dbo.Agents.НаименованиеАгента, dbo.Agents.ТелефонАгента, dbo.Agents.Приоритет, dbo.ProductSale.Количествопродукции
FROM            dbo.Agents INNER JOIN
                         dbo.ProductSale ON dbo.Agents.id = dbo.ProductSale.id
GO
/****** Object:  Table [dbo].[HistoryAgent]    Script Date: 14.12.2021 11:05:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoryAgent](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[NameAgent] [varchar](50) NULL,
	[PrioritetOld] [bigint] NULL,
	[PrioritetNew] [bigint] NULL,
 CONSTRAINT [PK_HistoryAgent] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductShort]    Script Date: 14.12.2021 11:05:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductShort](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[НаименованиеПродукции] [nvarchar](255) NULL,
	[ТипПродукции] [nvarchar](255) NULL,
	[IdТипаПродукции] [int] NULL,
	[Артикул] [float] NULL,
	[КоличествоЧеловекДляПроизводства] [float] NULL,
	[НомерЦехаПроизводства] [float] NULL,
	[МинимальнаяЦенаДляАгента] [float] NULL,
 CONSTRAINT [PK_ProductShort] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeAget]    Script Date: 14.12.2021 11:05:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeAget](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[NameType] [nvarchar](255) NULL,
 CONSTRAINT [PK_TypeAget] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeProduct]    Script Date: 14.12.2021 11:05:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeProduct](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
 CONSTRAINT [PK_TypeProduct] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Agents] ON 

INSERT [dbo].[Agents] ([id], [ТипАгента], [IdType], [НаименованиеАгента], [ЭлектроннаяПочтаАгента], [ТелефонАгента], [ЛоготипАгента], [ЮридическийАдрес], [Приоритет], [Директор], [ИНН], [КПП]) VALUES (1, N'МКК', 2, N'CибБашкирТекстиль', N'vzimina@zdanova.com', N'(495) 285-78-38', N'\agents\agent_69.png', N'429540, Мурманская область, город Воскресенск, пл. Славы, 36', 218, N'Григорий Владимирович Елисеева', 7392007090, 576103661)
INSERT [dbo].[Agents] ([id], [ТипАгента], [IdType], [НаименованиеАгента], [ЭлектроннаяПочтаАгента], [ТелефонАгента], [ЛоготипАгента], [ЮридическийАдрес], [Приоритет], [Директор], [ИНН], [КПП]) VALUES (2, N'МКК', 2, N'CибГаз', N'inna.sarova@panfilov.ru', N'(495) 945-37-25', N'\agents\agent_103.png', N'365674, Архангельская область, город Серебряные Пруды, пр. Ленина, 29', 15, N'Вячеслав Романович Третьякова', 6483417250, 455013058)
INSERT [dbo].[Agents] ([id], [ТипАгента], [IdType], [НаименованиеАгента], [ЭлектроннаяПочтаАгента], [ТелефонАгента], [ЛоготипАгента], [ЮридическийАдрес], [Приоритет], [Директор], [ИНН], [КПП]) VALUES (3, N'ЗАО', 1, N'CибПивОмскСнаб', N'evorontova@potapova.ru', N'+7 (922) 153-95-22', N'\agents\agent_46.png', N'816260, Ивановская область, город Москва, ул. Гагарина, 31', 477, N'Людмила Александровна Сафонова', 5676173945, 256512286)
GO
SET IDENTITY_INSERT [dbo].[Agents] OFF
GO
SET IDENTITY_INSERT [dbo].[HistoryAgent] ON 

INSERT [dbo].[HistoryAgent] ([id], [NameAgent], [PrioritetOld], [PrioritetNew]) VALUES (1, N'CибГаз', NULL, 15)
INSERT [dbo].[HistoryAgent] ([id], [NameAgent], [PrioritetOld], [PrioritetNew]) VALUES (2, N'ТяжМаж', NULL, NULL)
INSERT [dbo].[HistoryAgent] ([id], [NameAgent], [PrioritetOld], [PrioritetNew]) VALUES (3, N'ТяжМаж', NULL, 125)
SET IDENTITY_INSERT [dbo].[HistoryAgent] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductSale] ON 

INSERT [dbo].[ProductSale] ([id], [Продукция], [idПродукции], [НаименованиеАгента], [IDAgent], [Датареализации], [Количествопродукции]) VALUES (1, N'Попрыгунчик для кошечек 2604', 34, N'КазаньТекстиль', 28, CAST(N'2010-06-21T00:00:00.000' AS DateTime), 7)
INSERT [dbo].[ProductSale] ([id], [Продукция], [idПродукции], [НаименованиеАгента], [IDAgent], [Датареализации], [Количествопродукции]) VALUES (2, N'Попрыгунчик для собачек 5754', 47, N'Компания ФинансСервис', 46, CAST(N'2016-02-17T00:00:00.000' AS DateTime), 18)
INSERT [dbo].[ProductSale] ([id], [Продукция], [idПродукции], [НаименованиеАгента], [IDAgent], [Датареализации], [Количествопродукции]) VALUES (3, N'Попрыгунчик для собачек 4485', 44, N'РемГаражЛифт', 67, CAST(N'2012-11-07T00:00:00.000' AS DateTime), 9)
GO
SET IDENTITY_INSERT [dbo].[ProductSale] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductShort] ON 

INSERT [dbo].[ProductShort] ([id], [НаименованиеПродукции], [ТипПродукции], [IdТипаПродукции], [Артикул], [КоличествоЧеловекДляПроизводства], [НомерЦехаПроизводства], [МинимальнаяЦенаДляАгента]) VALUES (1, N'Попрыгун 2299', N' Взрослый', 1, 34750945, 2, 2, 1688)
INSERT [dbo].[ProductShort] ([id], [НаименованиеПродукции], [ТипПродукции], [IdТипаПродукции], [Артикул], [КоличествоЧеловекДляПроизводства], [НомерЦехаПроизводства], [МинимальнаяЦенаДляАгента]) VALUES (2, N'Попрыгун 3016', N' Цифровой', 5, 74919447, 1, 12, NULL)
INSERT [dbo].[ProductShort] ([id], [НаименованиеПродукции], [ТипПродукции], [IdТипаПродукции], [Артикул], [КоличествоЧеловекДляПроизводства], [НомерЦехаПроизводства], [МинимальнаяЦенаДляАгента]) VALUES (3, N'Попрыгун 6412', N' Для больших деток', 2, 28152672, 2, 9, 523)
SET IDENTITY_INSERT [dbo].[ProductShort] OFF
GO
SET IDENTITY_INSERT [dbo].[TypeAget] ON 

INSERT [dbo].[TypeAget] ([id], [NameType]) VALUES (1, N'ЗАО')
INSERT [dbo].[TypeAget] ([id], [NameType]) VALUES (2, N'МКК')
INSERT [dbo].[TypeAget] ([id], [NameType]) VALUES (3, N'МФО')
SET IDENTITY_INSERT [dbo].[TypeAget] OFF
GO
SET IDENTITY_INSERT [dbo].[TypeProduct] ON 

INSERT [dbo].[TypeProduct] ([id], [Name]) VALUES (1, N' Взрослый')
INSERT [dbo].[TypeProduct] ([id], [Name]) VALUES (2, N' Для больших деток')
INSERT [dbo].[TypeProduct] ([id], [Name]) VALUES (3, N' Для маленьких деток')
SET IDENTITY_INSERT [dbo].[TypeProduct] OFF
GO
ALTER TABLE [dbo].[Agents]  WITH CHECK ADD  CONSTRAINT [FK_Agents_TypeAget] FOREIGN KEY([IdType])
REFERENCES [dbo].[TypeAget] ([id])
GO
ALTER TABLE [dbo].[Agents] CHECK CONSTRAINT [FK_Agents_TypeAget]
GO
ALTER TABLE [dbo].[ProductSale]  WITH CHECK ADD  CONSTRAINT [FK_ProductSale_ProductShort] FOREIGN KEY([idПродукции])
REFERENCES [dbo].[ProductShort] ([id])
GO
ALTER TABLE [dbo].[ProductSale] CHECK CONSTRAINT [FK_ProductSale_ProductShort]
GO
ALTER TABLE [dbo].[ProductShort]  WITH CHECK ADD  CONSTRAINT [FK_ProductShort_TypeProduct] FOREIGN KEY([IdТипаПродукции])
REFERENCES [dbo].[TypeProduct] ([id])
GO
ALTER TABLE [dbo].[ProductShort] CHECK CONSTRAINT [FK_ProductShort_TypeProduct]
GO
/****** Object:  Trigger [dbo].[TR_Agent_AfterUpdateInsert]    Script Date: 14.12.2021 11:05:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create trigger [dbo].[TR_Agent_AfterUpdateInsert]
on [dbo].[Agents]
after Insert,Update
as
if exists (select * from inserted) and exists (Select * from deleted) and Update(Приоритет)
begin 
insert into HistoryAgent (NameAgent,PrioritetOld,PrioritetNew)
select i.НаименованиеАгента,d.Приоритет,i.Приоритет
from inserted i inner join deleted d on i.id = d.id
end
if exists (select * from inserted) and not exists (Select * from deleted)
begin 
insert into HistoryAgent(NameAgent,PrioritetOld,PrioritetNew)
select i.НаименованиеАгента,i.Приоритет,null
from inserted i
end
GO
ALTER TABLE [dbo].[Agents] ENABLE TRIGGER [TR_Agent_AfterUpdateInsert]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Agents"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 269
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ProductSale"
            Begin Extent = 
               Top = 6
               Left = 307
               Bottom = 202
               Right = 538
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_AgentDetails'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_AgentDetails'
GO
